[submodule "zsh/plugins/zsh-autopair"]
	path = zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
