[submodule "zsh/plugins/zsh-autopair"]
	path = zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".local/share/wallpapers/dracula-wallpapers"]
	path = .local/share/wallpapers/dracula-wallpapers
	url = https://github.com/dracula/wallpaper
[submodule ".local/share/wallpapers/onedark-wallpapers"]
	path = .local/share/wallpapers/onedark-wallpapers
	url = https://github.com/Narmis-E/onedark-wallpapers
