/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    bg:      #282a36ff;
    fg:      #f8f8f8ff;
    magenta: #bd93f9ff;
    green:   #50fa7bff;
    red:     #ff5555ff;
    yellow:  #f1fa8cff;
    orange:  #ffb86cff;
    pink:    #ff79c6ff;
    blue:    #8be9fdff;
    white:   #bbbbbbff;
    black:   #000000ff;
}
